{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}
{% block home %}active{% endblock %}
{% load static %}

{% block first_content %}
{% if messages %}
    <div class="modal" style="display:block" id="mensajes" tabindex="-1{{ request.session.level_mensaje }} alert-dismissible">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">A V I S O </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>    
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#mensajes').css('display','none')" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>        
            </div>
            </div>
        </div>
        </div>
{% endif %}    

<section>   
        <div class="container principal">
            <header>
                <div class="overlay"></div>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="{% static 'core/videos/headerVideo.mp4' %}" type="video/mp4">
                </video>
                <div class="container h-100">
                    <div class="d-flex h-100 text-center align-items-center">
                        <div class="w-100 text-white">
                            <h1 class="display-3">Últimas filtraciones y rumores</h1>
                            <p class="lead mb-0">En esta sección podras encontrar un acceso rapido a los ultimos rumores y </br> filtraciones en la industria que tanto revolucionan a las masas.</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="card">
                <div class="card-body fondo p-5">
                    <hr>
                    <article>
                        <div class="row">
                            <div class="col-lg-8 articulo-index p-5">
                            </br></br>Sony, una de las compañías líderes en la industria de los videojuegos, no es ajena a los rumores y filtraciones que despiertan la emoción de los fanáticos. Con cada nuevo proyecto y lanzamiento, surgen especulaciones sobre los próximos títulos, características innovadoras y posibles colaboraciones. Los rumores y filtraciones alimentan la anticipación de los jugadores, ya que intentan desentrañar los secretos que rodean a sus franquicias y personajes favoritos. Mantente al tanto de las últimas filtraciones y rumores sobre Sony en nuestra página, mientras te sumerges en el emocionante mundo de la especulación y la emoción previa al lanzamiento de sus juegos más esperados.
                            </div>
                            <div class="col-lg-4  text-center d-flex justify-content-center">
                                <div class="card card-button sinbordes" style="width: 18rem;" onclick="window.location.href='{% url 'articles-company' compania=2 %}'">
                                    <img src="https://pbs.twimg.com/media/FqpELU1XsAAfRJJ.jpg:large" class="card-img-top" alt="...">
                                    <div class="card-body fondo-card-body">
                                      <h5 class="card-title">Sony</h5>
                                      <p class="card-text">Rumoreadas compras por parte de Sony a titantes de la Industria, intentando igualar a Microsoft.</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </article>
                <hr>
                    <article>
                        <div class="row">
                            
                            <div class="col-lg-8 articulo-index p-5">
                            </br></br>Siendo una de las empresas más emblematicas de la Industria junto con  ser de las más antiguas,
                                Nintendo siempre ha estado en el ojo de los medios, ya sea por sus multiples aciertos o errores, siendo estos últimos los que más han marcado a la compañia en los últimos años
                                antes del lanzamiento de su última consola la Nintendo Switch.</br></br>Gracias a esto cada día más gente intenta saber lo que pasa a puertas cerradas, o que grandes
                                proyectos estan por venir, y es por eso que en esta sección te traemos las filtraciones y rumores más recientes de la compañia.

                            </div>
                            <div class="col-lg-4  text-center d-flex justify-content-center" >
                                <div class="card card-button sinbordes" style="width: 18rem;" onclick="window.location.href='{% url 'articles-company' compania=1 %}'">
                                    <img src="https://pbs.twimg.com/media/FnLtJo4XEAAM2_g.jpg:large" class="card-img-top" alt="...">
                                    <div class="card-body fondo-card-body">
                                      <h5 class="card-title">Nintendo</h5>
                                      <p class="card-text">Multiples proyectos cancelados, entre ellos los diferentes Remakes de la saga Metroid Prime luego del lanzamiento primero de ellos.</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </article>
                    <hr>     
                </div>

            </div>
        </div>
    </section>
{% endblock %}

