{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% load static %}

{% block first_content %}

<section>
    <div class="container">
        <div class="card mx-10 my-10">
            <div class="card-body fondo p-5">
                <section>
                <h1 class="card-title text-center p-5">Sobre Nosotros</h1>  
                <p class="articulo-index">Bienvenidos a nuestra página especializada en las filtraciones más grandes en la industria de los videojuegos de los últimos 10 años. Si eres un apasionado de los juegos y siempre has estado intrigado por los secretos y rumores que rodean a tus títulos favoritos, has llegado al lugar indicado.

                    Aquí nos sumergiremos en un viaje por las filtraciones más impactantes y significativas que han sacudido el mundo de los videojuegos en la última década. Desde sorprendentes anuncios prematuros y filtraciones masivas de información confidencial hasta rumores que despertaron la especulación de los jugadores, nos aseguraremos de cubrir los momentos más destacados y emocionantes.</br>
                    
                    Nuestro equipo de investigadores se ha dedicado a recopilar y examinar exhaustivamente las filtraciones más notorias y polémicas de la industria. Exploraremos cómo estas filtraciones han afectado el desarrollo de los juegos, las reacciones de los estudios y los jugadores, y el impacto en el lanzamiento final de los títulos en cuestión.</br>
                    
                    Sumérgete en las historias detrás de filtraciones como la revelación temprana de juegos altamente anticipados, la fuga de detalles sobre tramas y personajes, y las filtraciones tecnológicas que dejaron a todos boquiabiertos. Reviviremos momentos de emoción, controversia y expectación mientras exploramos cómo estas filtraciones han moldeado la narrativa y el legado de los videojuegos.</br>
                    
                    Únete a nosotros en este recorrido por las filtraciones más grandes de la última década y descubre los secretos mejor guardados de la industria de los videojuegos. Prepárate para explorar los eventos que hicieron vibrar a los jugadores y que siguen dejando su huella en el mundo del gaming hasta el día de hoy.</br>
                    
                    Bienvenidos a un viaje fascinante donde desvelaremos los misterios detrás de las filtraciones más impactantes en la industria de los videojuegos de los últimos 10 años.</p>  
                </section>
                <section>
                    <h2 class="text-center">El equipo de desarrollo</h2>
                    <div class="row">
                        <div class="col-lg-4 profile">
                            <div class="profile-pic austin"></div>
                            <h4 class="text-center">Austin Johnson-Ortiz</h4>
                            
                        </div>
                        <div class="col-lg-4 profile">
                            <div class="profile-pic alexi"></div>
                            <h4 class="text-center">Alexis Arcos</h4>
                        </div>
                        <div class="col-lg-4 profile">
                            <div class="profile-pic jorge"></div>
                            <h4 class="text-center">Jorge Rivera</h4>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}