{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% load static %}

{% block first_content %}
<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error eum cum quam dolorem explicabo accusantium velit eos ex. Quaerat, nihil? Ut quidem nostrum perspiciatis, distinctio libero porro quam debitis!
    Molestias quam voluptates, reprehenderit alias hic tenetur ipsam illo impedit placeat officia, fuga odio iusto dolores ratione omnis inventore esse animi illum. Error aperiam tenetur nam totam, nihil nobis labore?</p>
</section>
{% endblock %}