{% extends 'crud/base.html' %}

{% block title %}Articulos{% endblock %}

{% load static %}

{% block first_content %}

<div class="container principal fondo"> 
    <div class="container my-2 p-5 text-white bg-dark text-center rounded">
        <h1>Listado Articulos </h1>
    </div>


    <div class="container my-2">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th>Compañia</th>
                        <th>Fecha creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in articulos %}
                    <tr>
                        <td class="articulo-index texto-fila ">{{a.id}}</td>
                        <td class="articulo-index texto-fila">{{a.titulo}}</td>
                        <td class="articulo-index texto-fila">
                            {{a.html_body|slice:"0:15" }}
                        </td>
                        <td class="articulo-index texto-fila">
                            {{a.id_compania}}
                        </td>
                        <td class="articulo-index texto-fila">{{a.creacion}}</td>
                        <td>
                            {% comment %}                             
                            <a class="btn btn-outline-primary" href="/crud/videogames/detail/{{v.idVideogame}}">
                                <span class="fs-2 text-primary">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                            </a>                        
                            {% endcomment %}
                            <a class="btn btn-outline-warning" href="{% url 'editar-articulo' idArticulo=a.id %}">
                                <span class="text-warning">
                                    <i>Editar</i>
                                </span>
                            </a>
                            {% comment %}  
                            <a class="btn btn-outline-danger modal-borrar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-href="{% url 'videogame-delete' videogame_id=v.idVideogame %}">
                                <span class="fs-2 text-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </span>
                            </a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
