{% extends 'crud/base.html' %}

{% block title %}Comentarios{% endblock %}

{% load static %}
{% block comentario %}active{% endblock %}
{% block first_content %}
<section>
<div class="container principal "> 
    <div class="card px-5 colorfondo">
        <div class="card-body fondo p-5">
    <h1 class="p-5 text-center">Listado Comentarios</h1>
        {% if 'exito-eliminar-comentario' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Comentario eliminado con exito.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endif %} 
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Autor</th>
                        <th>Mensaje</th>
                        <th>Articulo al que pertenece</th>
                        <th>Fecha creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in comentario %}
                    <tr>
                        <td class="articulo-index texto-fila ">{{c.id}}</td>
                        <td class="articulo-index texto-fila">{{c.autor}}</td>
                        <td class="articulo-index texto-fila">
                            {{c.mensaje|slice:":15" }}...
                        </td>
                        <td class="articulo-index texto-fila">
                            {{c.id_articulo}}
                        </td>
                        <td class="articulo-index texto-fila">{{c.creacion|date:"D d M Y"}}</td>
                        <td>
                            <a class="btn btn-danger modal-borrar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-href="{% url 'eliminar-comentario' idComentario=c.id %}">
                                <span class="material-symbols-outlined align-middle">
                                    delete
                                </span>
                                Borrar
                            </a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      
        </div>
    </div>
    </div>
</div>

</section>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Alerta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">Borrar el comentario seleccionado?<br>Esta acción no se puede deshacer.</h6>
            </div>
            <div class="modal-footer text-center">
                <a class="btn btn-primary" id="confirmar-borrar" href="#">Borrar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                
            </div>
        </div>
    </div>
</div>  
{% block extra_js %}
<script>
    $('.modal-borrar').on('click',function(){
        const href = $(this).attr('data-href');
        $('#confirmar-borrar').attr('href',href);
    });
</script>
{% endblock %}

{% endblock %}
