{% extends 'crud/base.html' %}

{% block title %}Editar Companias{% endblock %}
{% block compania %}{% endblock %}
{% load static %}

{% block first_content %}
<section>
    
<div class="container principal"> 
    <div class="card px-5 colorfondo">
        <div class="card-body fondo p-5">
            <h1 class="p-5 text-center">Editar Compania</h1>
            {% if 'exito' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Compañia actualizado con exito.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}       
            <article>
    <form data-bs-theme="light" action="" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        
        <div class="form-group elem mb-3 ">
            <label for="titulo" class="form-label">Nombre</label>
            {{form.nombre}}
            <small id="error_nombre_min" class="text-danger">Debes ingresar un nombre</small>
            <small id="error_nombre_max" class="text-danger">El nombre excede el largo máximo permitido</small>
            <small id="error_nombre_invalido" class="text-danger">El nombre es invalido</small>
        </div>
        <div class="form-group elem mb-3 col-12 controles">
            <a class="btn btn-success m-2" href="{% url 'lista-compania' %}">
                <span class="material-symbols-outlined align-middle">
                    undo
                </span>
                Volver
            </a>

            <button onclick="validarEditor()" class="btn btn-primary m-2" id="actualizar" value="Actualizar">
                <span class="material-symbols-outlined align-middle">
                    done
                </span>
                Actualizar
            </button>
        </div>  
    </form>
</article>
</div>
</div>
</div>

</section>
<script src="{% static 'crud/js/editor.js' %}"></script>
{% endblock %}