{% extends 'crud/base.html' %}

{% block title %}Nuevo Articulo{% endblock %}

{% load static %}
{% block agregar%}active{% endblock%}
{% block first_content %}

<section>
    <div class="container principal">
        <div class="card px-5">
            <div class="card-body fondo p-5">
                <h1 class="p-5 text-center">Nuevo Artículo</h1>
                <article>
                    <form data-bs-theme="light" action="" method="post" enctype="multipart/form-data" id="articulonuevo">
                        {% csrf_token %}
                        <div class="form-group elem mb-3 ">
                            <label for="titulo" class="form-label">Título</label>
                            {{form.titulo}}
                            <small id="error_titulo_min" class="text-danger closeted">Debes ingresar tu titulo</small>
                            <small id="error_titulo_max" class="text-danger closeted">El titulo excede el largo máximo permitido</small>
                            <small id="error_titulo_invalido" class="text-danger closeted">El titulo es invalido</small>
                            <!-- <input type="text"  onblur="validarNombre()" class="form-control" name="nombre" id="nombre"> -->
                        </div>
                        <div class="form-group elem mb-3 ">
                            <label for="autor" class="form-label">Autor</label>
                            {{form.autor}}
                            <small id="error_autor_min" class="text-danger closeted">Debes ingresar tu Autor</small>
                            <small id="error_autor_max" class="text-danger closeted">El autor excede el largo máximo permitido</small>
                            <small id="error_autor_invalido" class="text-danger closeted">El autor es invalido</small>

                        </div>
                        <div class="form-group elem mb-3">
                            <label for="id_html_body" class="form-label">Cuerpo del artículo</label>
                            <div class="herramientas">
                                <button type="button" class="" onclick="formato('bold')">
                                    <span class="material-symbols-outlined icono">format_bold</span>
                                </button>
                                <button type="button" class="" onclick="formato('italic')">
                                    <span class="material-symbols-outlined icono">format_italic</span>
                                </button>
                                <button type="button" class="" onclick="formato('underline')">
                                    <span class="material-symbols-outlined icono">format_underlined</span>
                                </button>
                                <button type="button" class="" onclick="formato('strikeThrough')">
                                    <span class="material-symbols-outlined icono">format_strikethrough</span>
                                </button>
                                <button type="button" class="" onclick="formato('lorem')">
                                    <label>Lorem</label>
                                </button>
                                <button type="button" class="fright">
                                    <span class="material-symbols-outlined icono">code</span>
                                    <label>HTML</label>
                                </button>
                            </div>
                            <div id="areaedit" contenteditable="true" id="test"></div>
                            <textarea name="html_body" cols="40" rows="10" class="form-control" maxlength="4096" 
                                required="" id="id_html_body" style="display: none;"></textarea>
                        </div>

                        <div class="form-grou elem mb-3">
                            <label for="compania" class="form-label">Compania</label>
                            {{form.id_compania}}
                            <small id="error_compania" class="text-danger closeted">Debe seleccionar una compania</small>
                        </div>
                        <div class="form-group mb-3">
                            <label for="image" class="fw-bold">Imagen Cabecera</label>
                            <div class="input-group">
                                {{form.headerImage}}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="image" class="fw-bold">Imagen Articulo</label>
                            <div class="input-group">
                                {{form.articleImage}}
                            </div>
                        </div>
                        <div class="form-group elem mb-3 col-12 controles">
                            <a class="btn btn-primary m-2" href="{% url 'lista-articulos' %}">
                                <span class="material-symbols-outlined align-middle">
                                    undo
                                </span>
                                Volver
                            </a>
                            <button class="btn btn-primary m-2" type="button" onclick="validarEditior()">
                                <span class="material-symbols-outlined align-middle">
                                    add
                                </span>
                                Crear Nuevo Artículo
                            </button>
                            
                        </div>
                        
                        <div class="elem mb-3"></div>
                        <div class="elem mb-3"></div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'crud/js/editor.js' %}"></script>
{% endblock %}
