{% extends 'crud/base.html' %}

{% block title %}Nuevo Articulo{% endblock %}

{% load static %}

{% block first_content %}

<h1>Nuevo Articulo</h1>
<section>
    <div class="container principal">
        <div class="card px-5">
            <div class="card-body fondo p-5">
                <h1 class="p-5 text-center">Nuevo Artículo</h1>
                <article>
                    <form data-bs-theme="light" action="" method="post" enctype="multipart/form-data" id="articulonuevo">
                        {% csrf_token %}
                        <div class="form-group elem mb-3 ">
                            <label for="nombre" class="form-label">Nombre</label>
                            {{form.titulo}}
                            <!-- <input type="text"  onblur="validarNombre()" class="form-control" name="nombre" id="nombre"> -->
                        </div>
                        
                        <div class="form-group elem mb-3">
                            <label for="id_html_body" class="form-label">Cuerpo del artículo</label>
                            <div class="herramientas">
                                <button type="button" class="" onclick="formato('bold')">
                                    <span class="material-symbols-outlined icono">format_bold</span>
                                </button>
                                <button type="button" class="" onclick="formato('italic')">
                                    <span class="material-symbols-outlined icono">format_italic</span>
                                </button>
                                <button type="button" class="" onclick="formato('underline')">
                                    <span class="material-symbols-outlined icono">format_underlined</span>
                                </button>
                                <button type="button" class="" onclick="formato('strikeThrough')">
                                    <span class="material-symbols-outlined icono">format_strikethrough</span>
                                </button>
                                <button type="button" class="" onclick="formato('lorem')">
                                    <label>Lorem</label>
                                </button>
                                <button type="button" class="fright">
                                    <span class="material-symbols-outlined icono">code</span>
                                    <label>HTML</label>
                                </button>
                            </div>
                            <div id="areaedit" contenteditable="true" id="test"></div>
                            <textarea name="html_body" cols="40" rows="10" class="form-control" maxlength="4096" 
                                required="" id="id_html_body" style="display: none;"></textarea>
                        </div>

                        <div class="form-grou elem mb-3">
                            {{form.id_compania}}
                        </div>

                        <div class="form-group elem mb-3 col-12 controles">
                            <button class="btn btn-primary" type="button" onclick="validarEditior()">Crear Nuevo Artículo</button>
                        </div>
                        
                        <div class="elem mb-3"></div>
                        <div class="elem mb-3"></div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'crud/js/editor.js' %}"></script>
{% endblock %}
